.ais-RefinementList {
  &-item {
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
  }
  &-label {
    display: flex;
    align-items: center;

    &,
    &Text {
      overflow: hidden;
      color: var(--af-is-gray-110);
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-checkbox {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin-right: 12px;
    font-size: 14px;
  }
}
