.af-is-widget__results__grid {
  border-bottom: 1px solid var(--af-is-gray-30);

  &.af-is-widget__results__default {
    .ais-Hits {
      margin-top: 0;
      margin-bottom: 0;
      &-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 0;
      }

      &-item {
        width: initial;

        &-title {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: var(--af-is-gray-120);
        }

        &-description {
          display: -webkit-box;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          margin-top: 12px;
          color: var(--af-is-gray-120);
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  &.af-is-widget__results__products {
    background-color: var(--af-is-gray-10);

    .ais-Hits {
      &-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 16px;
        margin: 0;

        @media (min-width: 800px) {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }

      &-item {
        width: auto;
        margin: 0;
        padding: 0;
        background-color: var(--af-is-common-white);
        border-radius: 4px;

        &-inner {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 16px;
        }

        a {
          text-decoration: none;
        }

        &-image {
          position: relative;
          padding-top: 100%;
          margin-bottom: 24px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        &-title {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 12px;
          color: var(--af-is-gray-120);
        }

        &-description {
          display: -webkit-box;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
          color: var(--af-is-gray-100);
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        &-price-display {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          margin-top: auto;
          color: var(--af-is-gray-120);
        }

        &-price-original {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          margin-left: 8px;
          color: var(--af-is-gray-80);
        }
      }
    }
  }

  &.af-is-widget__results__pages {
    .ais-Hits {
      margin-top: 0;
      margin-bottom: 0;

      &-item {
        width: 100%;
        border: 0;
        padding: 0;

        a {
          color: var(--af-is-primary-500);
        }
      }
    }
  }
}
