:root {
  --af-is-gray-130: #{$gray-130};
  --af-is-gray-120: #{$gray-120};
  --af-is-gray-110: #{$gray-110};
  --af-is-gray-100: #{$gray-100};
  --af-is-gray-90: #{$gray-90};
  --af-is-gray-80: #{$gray-80};
  --af-is-gray-70: #{$gray-70};
  --af-is-gray-60: #{$gray-60};
  --af-is-gray-50: #{$gray-50};
  --af-is-gray-40: #{$gray-40};
  --af-is-gray-30: #{$gray-30};
  --af-is-gray-20: #{$gray-20};
  --af-is-gray-10: #{$gray-10};

  --af-is-primary-900: #{$primary-900};
  --af-is-primary-800: #{$primary-800};
  --af-is-primary-700: #{$primary-700};
  --af-is-primary-600: #{$primary-600};
  --af-is-primary-500: #{$primary-500};
  --af-is-primary-400: #{$primary-400};
  --af-is-primary-300: #{$primary-300};
  --af-is-primary-200: #{$primary-200};
  --af-is-primary-100: #{$primary-100};

  --af-is-secondary-900: #{$secondary-900};
  --af-is-secondary-800: #{$secondary-800};
  --af-is-secondary-700: #{$secondary-700};
  --af-is-secondary-600: #{$secondary-600};
  --af-is-secondary-500: #{$secondary-500};
  --af-is-secondary-400: #{$secondary-400};
  --af-is-secondary-300: #{$secondary-300};
  --af-is-secondary-200: #{$secondary-200};
  --af-is-secondary-100: #{$secondary-100};

  --af-is-green-900: #{$green-900};
  --af-is-green-800: #{$green-800};
  --af-is-green-700: #{$green-700};
  --af-is-green-600: #{$green-600};
  --af-is-green-500: #{$green-500};
  --af-is-green-400: #{$green-400};
  --af-is-green-300: #{$green-300};
  --af-is-green-200: #{$green-200};
  --af-is-green-100: #{$green-100};

  --af-is-red-900: #{$red-900};
  --af-is-red-800: #{$red-800};
  --af-is-red-700: #{$red-700};
  --af-is-red-600: #{$red-600};
  --af-is-red-500: #{$red-500};
  --af-is-red-400: #{$red-400};
  --af-is-red-300: #{$red-300};
  --af-is-red-200: #{$red-200};
  --af-is-red-100: #{$red-100};

  --af-is-orange-900: #{$orange-900};
  --af-is-orange-800: #{$orange-800};
  --af-is-orange-700: #{$orange-700};
  --af-is-orange-600: #{$orange-600};
  --af-is-orange-500: #{$orange-500};
  --af-is-orange-400: #{$orange-400};
  --af-is-orange-300: #{$orange-300};
  --af-is-orange-200: #{$orange-200};
  --af-is-orange-100: #{$orange-100};

  --af-is-common-white: #fff;
}

// Global

[class^='ais-'] {
  font-size: 1rem;
  box-sizing: border-box;
}

a[class^='ais-'] {
  text-decoration: none;
}

.ais-Breadcrumb,
.ais-ClearRefinements,
.ais-CurrentRefinements,
.ais-GeoSearch,
.ais-HierarchicalMenu,
.ais-Hits,
.ais-Results,
.ais-HitsPerPage,
.ais-ResultsPerPage,
.ais-InfiniteHits,
.ais-InfiniteResults,
.ais-Menu,
.ais-MenuSelect,
.ais-NumericMenu,
.ais-NumericSelector,
.ais-Pagination,
.ais-Panel,
.ais-PoweredBy,
.ais-RangeInput,
.ais-RangeSlider,
.ais-RatingMenu,
.ais-RefinementList,
.ais-SearchBox,
.ais-RelevantSort,
.ais-SortBy,
.ais-Stats,
.ais-ToggleRefinement {
  color: var(--af-is-gray-120);
}

// Widgets

.ais-Breadcrumb-item--selected,
.ais-HierarchicalMenu-item--selected,
.ais-Menu-item--selected {
  font-weight: bold;
}

.ais-Breadcrumb-separator {
  margin: 0 0.3em;
  font-weight: normal;
}

.ais-Breadcrumb-link,
.ais-HierarchicalMenu-link,
.ais-Menu-link,
.ais-Pagination-link,
.ais-RatingMenu-link {
  color: var(--af-is-primary-500);
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--af-is-primary-600);
  }
}

.ais-ClearRefinements-button,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadPrevious,
.ais-InfiniteHits-loadMore,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore,
.ais-RelevantSort-button {
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  background-color: var(--af-is-primary-500);
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--af-is-primary-600);
  }
}

.ais-ClearRefinements-button--disabled,
.ais-GeoSearch-redo--disabled,
.ais-GeoSearch-reset--disabled,
.ais-HierarchicalMenu-showMore--disabled,
.ais-InfiniteHits-loadMore--disabled,
.ais-InfiniteResults-loadMore--disabled,
.ais-Menu-showMore--disabled,
.ais-RefinementList-showMore--disabled {
  background-color: var(--af-is-gray-40);
  color: var(--af-is-gray-80);
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: var(--af-is-gray-40);
  }
}

.ais-InfiniteHits-loadPrevious--disabled {
  display: none;
}

.ais-CurrentRefinements {
  margin-top: -0.3rem;
  display: flex;
  flex-wrap: wrap;
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-wrap: wrap;
}

.ais-CurrentRefinements-item {
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  background-color: var(--af-is-primary-100);
  border: 1px solid var(--af-is-primary-200);
  border-radius: 4px;
}

.ais-CurrentRefinements-category {
  margin-left: 0.3em;
  display: flex;
}

.ais-CurrentRefinements-delete {
  margin-left: 0.3rem;
}

.ais-CurrentRefinements-label {
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--af-is-primary-700);
}
.ais-CurrentRefinements-categoryLabel {
  white-space: nowrap;
  font-size: 0.8rem;
  color: var(--af-is-primary-700);
}

.ais-CurrentRefinements-delete {
  white-space: nowrap;
  font-size: 0.8rem;
  color: var(--af-is-red-500);
}

.ais-CurrentRefinements-reset {
  margin-top: 0.3rem;
  white-space: nowrap;

  + .ais-CurrentRefinements-list {
    margin-left: 0.3rem;
  }
}

.ais-GeoSearch {
  position: relative;
}

.ais-GeoSearch-control {
  position: absolute;
  top: 0.8rem;
  left: 3.75rem;
}

.ais-GeoSearch-label {
  display: block;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  outline: none;
}

.ais-GeoSearch-input {
  margin: 0 0.25rem 0 0;
}

.ais-GeoSearch-label,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset {
  white-space: nowrap;
}

.ais-GeoSearch-reset {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.ais-HierarchicalMenu-link,
.ais-Menu-link {
  display: block;
  line-height: 1.5;
}

.ais-HierarchicalMenu-list,
.ais-Menu-list,
.ais-NumericMenu-list,
.ais-RatingMenu-list,
.ais-RefinementList-list {
  font-weight: normal;
  line-height: 1.5;
}

.ais-HierarchicalMenu-link {
  &:after {
    margin-left: 0.3em;
    content: '';
    width: 10px;
    height: 10px;
    display: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M7.3 24l-2.8-2.8 9.3-9.2-9.3-9.2 2.8-2.8 12.2 12z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
    background-size: 100% 100%;
  }

  .ais-HierarchicalMenu-item--parent > &:after {
    display: inline-block;
  }

  .ais-HierarchicalMenu-item--selected > &:after {
    transform: rotate(90deg);
  }
}

.ais-CurrentRefinements-count,
.ais-RatingMenu-count {
  font-size: 0.8rem;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

.ais-HierarchicalMenu-count,
.ais-Menu-count,
.ais-RefinementList-count,
.ais-ToggleRefinement-count {
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  color: var(--af-is-gray-70);
  border: 0;
}

.ais-HierarchicalMenu-showMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
  margin-top: 0.75rem;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: var(--af-is-orange-200);
}

.ais-ReverseHighlight-highlighted,
.ais-ReverseSnippet-highlighted {
  font-weight: bold;
  font-style: normal;
  background: none;
}

.ais-InfiniteHits-list,
.ais-InfiniteResults-list,
.ais-Hits-list,
.ais-Results-list {
  margin-top: -1rem;
  margin-left: -1rem;
  display: flex;
  flex-wrap: wrap;

  .ais-Panel-body & {
    margin: 0.5rem 0 0 -1rem;
  }
}

.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Hits-item,
.ais-Results-item {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: calc(25% - 1rem);
  border: 1px solid var(--af-is-gray-30);
  transition: .2s ease;

  &:hover {
    border: 1px solid var(--af-is-gray-60);
  }

  .ais-Panel-body & {
    margin: 0.5rem 0 0.5rem 1rem;
  }
}

.ais-InfiniteHits-loadMore,
.ais-InfiniteResults-loadMore {
  margin-top: 1rem;
}

.ais-InfiniteHits-loadPrevious {
  margin-bottom: 1rem;
}

.ais-MenuSelect-select,
.ais-NumericSelector-select,
.ais-HitsPerPage-select,
.ais-ResultsPerPage-select,
.ais-SortBy-select {
  appearance: none;
  padding: 8px 40px 8px 12px;
  max-width: 100%;
  background-color: var(--af-is-common-white);
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.3l2.8-2.8 9.2 9.3 9.2-9.3 2.8 2.8-12 12.2z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 89% 50%;
  border: 1px solid var(--af-is-gray-50);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: var(--af-is-gray-120);
}

.ais-DynamicWidgets {
  padding-top: 16px;

  .ais-Panel {
    & + .ais-Panel {
      margin-top: 32px;
    }
  }
}

.ais-Panel--collapsible {
  position: relative;

  &.ais-Panel--collapsed {
    .ais-Panel-body, .ais-Panel-footer{
      display:none;
    }
  }

  .ais-Panel-collapseButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    background: none;
  }
}

.ais-Panel-header {
  margin-bottom: 0.75rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.ais-Panel-footer {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.ais-RangeInput-input {
  padding: 0 0.2rem;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.ais-RangeInput-separator {
  margin: 0 0.3rem;
}

.ais-RangeInput-submit {
  margin-left: 0.3rem;
  appearance: none;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--af-is-primary-500);
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out;
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--af-is-primary-600);
  }
}

.ais-RatingMenu-count {
  color: var(--af-is-gray-40);
}

.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-item {
  + .ais-Pagination-item {
    margin-left: 0.3rem;
  }
}

.ais-Pagination-link {
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid var(--af-is-gray-40);
  border-radius: 5px;
  transition: background-color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: var(--af-is-gray-30);
  }

  .ais-Pagination-item--disabled & {
    opacity: 0.6;
    cursor: not-allowed;
    color: var(--af-is-gray-70);

    &:hover,
    &:focus {
      color: var(--af-is-gray-50);
      background-color: #fff;
    }
  }

  .ais-Pagination-item--selected & {
    color: var(--af-is-common-white);
    background-color: var(--af-is-primary-500);
    border-color: var(--af-is-primary-500);

    &:hover,
    &:focus {
      color: var(--af-is-common-white);
    }
  }
}

.ais-PoweredBy-text,
.rheostat-tooltip,
.rheostat-value,
.ais-Stats-text,
.ais-RelevantSort-text {
  font-size: 0.8rem;
}

.ais-RatingMenu-count,
.ais-RatingMenu-label {
  .ais-RatingMenu-item--disabled & {
    color: var(--af-is-gray-40);
  }
}

.ais-RatingMenu-item--selected {
  font-weight: bold;
}

.ais-RatingMenu-link {
  line-height: 1.5;

  > * + * {
    margin-left: 0.3rem;
  }
}

.ais-RatingMenu-starIcon {
  position: relative;
  top: -1px;
  width: 15px;
  fill: var(--af-is-orange-100);

  .ais-RatingMenu-item--disabled & {
    fill: var(--af-is-gray-40);
  }
}

.ais-HierarchicalMenu-searchBox,
.ais-Menu-searchBox,
.ais-RefinementList-searchBox {
  > * {
    margin-bottom: 0.5rem;
  }
}

.ais-SearchBox-form {
  display: block;
  position: relative;
}

.ais-SearchBox-input {
  appearance: none;
  padding: 0.3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid var(--af-is-gray-40);
  border-radius: 5px;

  &::-webkit-input-placeholder {
    color: var(--af-is-gray-80);
  }

  &::-moz-placeholder {
    color: var(--af-is-gray-80);
  }

  &:-ms-input-placeholder {
    color: var(--af-is-gray-80);
  }

  &:-moz-placeholder {
    color: var(--af-is-gray-80);
  }
}

.ais-SearchBox-submit,
.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator {
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}

.ais-SearchBox-submit {
  left: 0.3rem;
}

.ais-SearchBox-reset {
  right: 0.3rem;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
  path {
    fill: var(--af-is-gray-90);
  }
}

.ais-SearchBox-submitIcon {
  width: 14px;
  height: 14px;
}

.ais-SearchBox-resetIcon {
  width: 12px;
  height: 12px;
}

.ais-SearchBox-loadingIcon {
  width: 16px;
  height: 16px;
}

.ais-VoiceSearch-button {
  border: none;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 50%;
  color: var(--af-is-gray-120);
  background-color: transparent;
}

.ais-VoiceSearch-button svg {
  color: currentColor;
}

.ais-VoiceSearch-button:hover {
  cursor: pointer;
  background-color: var(--af-is-gray-80);
  color: #ffffff;
}

.ais-VoiceSearch-button:disabled {
  color: var(--af-is-gray-80);
}

.ais-VoiceSearch-button:disabled:hover {
  color: var(--af-is-gray-80);
  cursor: not-allowed;
  background: inherit;
}
