$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1200px;
$screen-xxl: 1536px;

$gray-130: #182A33;
$gray-120: #283D4A;
$gray-110: #37515F;
$gray-100: #4A6575;
$gray-90: #607A8B;
$gray-80: #798FA2;
$gray-70: #94A6B8;
$gray-60: #B2C0CE;
$gray-50: #D7DEE7;
$gray-40: #E4E9EF;
$gray-30: #ECF0F4;
$gray-20: #F5F7FA;
$gray-10: #F9FAFC;

$primary-900: #001726;
$primary-800: #002D4C;
$primary-700: #004471;
$primary-600: #005A97;
$primary-500: #0071BD;
$primary-400: #80B8DE;
$primary-300: #B3D4EB;
$primary-200: #CCE3F2;
$primary-100: #E6F1F8;

$secondary-900: #02331D;
$secondary-800: #04663A;
$secondary-700: #069957;
$secondary-600: #08CC74;
$secondary-500: #0AFF91;
$secondary-400: #85FFC8;
$secondary-300: #B6FFDE;
$secondary-200: #CEFFE9;
$secondary-100: #E7FFF4;

$green-900: #01170D;
$green-800: #022D19;
$green-700: #044426;
$green-600: #055A32;
$green-500: #06713F;
$green-400: #83B89F;
$green-300: #B4D4C5;
$green-200: #CDE3D9;
$green-100: #E6F1EC;

$red-900: #260D08;
$red-800: #4C1A10;
$red-700: #712718;
$red-600: #973420;
$red-500: #BD4128;
$red-400: #D78D7E;
$red-300: #E5B3A9;
$red-200: #F2D9D4;
$red-100: #F8ECEA;

$orange-900: #261700;
$orange-800: #4C2D00;
$orange-700: #714400;
$orange-600: #975A00;
$orange-500: #BD7100;
$orange-400: #D7AA66;
$orange-300: #E5C699;
$orange-200: #F2E3CC;
$orange-100: #F8F1E6;
